.quiz-container {
    display: flex;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .quiz-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-size: 24px;
  }
  
  .quiz-dropdown {
    width: 120px;
    padding: 6px;
  }
  
  .quiz-content {
    display: flex;
    flex: 1;
    padding: 40px;
    background-color: white;
  }
  
  .quiz-question-box {
    flex: 2;
    background-color: #fcfcfc;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 30px;
    margin-right: 20px;
  }
  
  .quiz-question {
    margin-bottom: 30px;
  }
  
  .quiz-answer-box {
    flex: 1;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 30px;
    background-color: white;
  }

  .upload-section {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .upload-btn {
    background-color: #c9a4f5;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    font-weight: bold;
  }
  
  .save-btn {
    background-color: #ddd;
    padding: 8px 14px;
    border-radius: 6px;
    margin-top: -20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
  }
  
  .save-btn:hover {
    background-color: #ccc;
  }

  
  
  